::details-content {
  display: block;
  padding: 1em;
  background-color: #150b6f;
  border: 1px solid #036b45;
  border-radius: 20px;
  div {
    color: #fff;
  }
  div p {
    font-size: 1.2em;
  }

}
details summary {
  font-size: 1.5em;
  font-weight: bold;
  color: #036b45;
  cursor: pointer;
} body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}h5 {
  color: #036b45;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}more {
  color: #036b45;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: underline;
}button {
  background-color: #036b45;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}sbutton:hover {
  background-color: #024d33;
} wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}



